"*":
  core:
    telemetryConsent: "no"
    themes: [
      "base-16-ocean-dark-ui-theme"
      "base16-ocean-dark"
    ]
  editor:
    fontFamily: "Input Mono"
    invisibles: {}
  "exception-reporting":
    userId: "488efa84-9c3e-ab57-3887-0bed4f9018e3"
  metrics:
    userId: "0c23f921b136a8a38bc0dc20a23d8e27d63f2d09"
  welcome:
    showOnStartup: false
